@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Сотрудники";
}

<h1>@ViewData["Title"]</h1>

<a asp-action="Create" type="button" class="btn btn-success">
    Create
</a>

@if (Model.Any())
{
    <table class="table">
        <thread>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th></th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.Id">@employee.FirstName</a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@employee.Id">@employee.LastName</a>
                    </td>
                    <td>
                        @employee.Birthday.ToString("D")
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@employee.Id" type="button" class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                    <td>
                        <a asp-action="UpdateById" asp-route-id="@employee.Id" type="button" class="btn btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}